<ul class="list-partners container">
    <h2 class="title-partners">Our partners</h2>
    <h2 class="title-companies">Companies hiring now</h2>
    <li class="item-partners"><svg class="icon-partners" aria-label="Solidatus"><use href="./images/sprite.svg#icon-solidatus-1"></use></svg><p class="name-partners">Solidatus</p></li>
    <li class="item-partners"><svg class="icon-partners" aria-label="Grantify"><use href="./images/sprite.svg#icon-everbridge-nl-logo-vector-1"></use></svg><p class="name-partners">Grantify</p></li>
    <li class="item-partners"><svg class="icon-partners" aria-label="Cloud Imperium Games"><use href="./images/sprite.svg#icon-Fill-1-1"></use>
</svg><p class="name-partners">Cloud Imperium Games</p></li>
    <li class="item-partners"><svg class="icon-partners" aria-label="Everbridge"><use href="./images/sprite.svg#icon-Fast-loans-at-fair-rates-_-Lendable-0-1-1"></use></svg><p class="name-partners">Everbridge</p></li>
    <li class="item-partners"><svg class="icon-partners" aria-label="Redscan"><use href="./images/sprite.svg#icon-Group-3"></use></svg><p class="name-partners">Redscan</p></li>
    <li class="item-partners"><svg class="icon-partners" aria-label="Lifebit"><use href="./images/sprite.svg#icon-Group-4"></use></svg><p class="name-partners">Lifebit</p></li>
    <li class="item-partners"><svg class="icon-partners" aria-label="Findaa"><use href="./images/sprite.svg#icon-Group-5"></use></svg><p class="name-partners">Findaa</p></li>
    <li class="item-partners"><svg class="icon-partners" aria-label="Kaseya"><use href="./images/sprite.svg#icon-Group-6"></use></svg><p class="name-partners">Kaseya</p></li>
    <li class="item-partners"><svg class="icon-partners" aria-label="So Energy"><use href="./images/sprite.svg#icon-logo-so-energy-blackde708a2-1-1"></use></svg><p class="name-partners">So Energy</p></li>
    <li class="item-partners"><svg class="icon-partners" aria-label="City Pantry"><use href="./images/sprite.svg#icon-Page-1-1"></use></svg><p class="name-partners">City Pantry</p></li>
    <li class="item-partners"><svg class="icon-partners" aria-label="Enghouse Systems"><use href="./images/sprite.svg#icon-symbol-1"></use></svg><p class="name-partners">Enghouse Systems</p></li>
    <li class="item-partners"><svg class="icon-partners" aria-label="Cuvva"><use href="./images/sprite.svg#icon-Vector-1"></use></svg><p class="name-partners">Cuvva</p></li>
</ul>