.menu-button {
  // border: none;
  background-color: transparent;
  & .icon-cross {
    display: none;
  }
  & .icon-menu {
    display: block;
    fill: black;
  }
  &.is-open .icon-cross {
    display: block;
    fill: $main-text;
  }
  &.is-open .icon-menu {
    display: none;
  }
}
.menu-container {
  display: block;
  width: 100%;
  background-color: white;
}
