$main-font: Inter;
$secondary-font: Roboto;
$line-height: 120%;
$font-size: 16px;
$font-weight: 300;

$main-text: rgba(24, 25, 31);
$marker: rgba(211, 211, 211);

$accent: rgba(220, 72, 59, 1);
$background: #e5e5e5;

$function-of-time: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;

$viewport-desktop: 1200px;
$pre-viewport-desktop: 1199px;
