<ul class="list-text-benefit container">
    <h2 class="title-benefit">How do you benefit?</h2>
    <li class="item-benefit"><p class="item-benefit-text">Clearly define your employment needs and skills</p><div class="line"></div></li>
    <li class="item-benefit"><p class="item-benefit-text">Search profiles and jobs of hand-picked exciting companies</p><div class="line length-line-large"></div></li>
    <li class="item-benefit"><p class="item-benefit-text">Companies must connect with you before being able to contact you</p><div class="line length-line-medium"></div></li>
    <li class="item-benefit"><p class="item-benefit-text">Diversity and inclusion - companies can only asses you based on your skills and ability
</p><div class="line length-line-small"></div></li>
</ul>
<ul class="list-images-benefit container">
    <h3 class="hidden">images-benefit</h3>
    <li class="img-benefit right-fit">
        <p class="title-img">Ground-breaking <br> companies</p>
        <svg class="icon-benefit">
            <use href="./images/symbol-defs.svg#icon-Frame-336"></use>
        </svg>
    <div class="img-benefit overflow"><div class="blok-text"><p class="title-img black-text">Ground-breaking <br> companies</p>
    <p class="text-overflow">You’re in control. Wonatech only presents roles that meet your preferences</p></div>
    <svg class="icon-benefit black-icon">
        <use href="./images/symbol-defs.svg#icon-Frame-336"></use>
    </svg></div></li>
    <li class="img-benefit handshake">
        <p class="title-img">Expert Career <br> Advancement</p>
        <svg class="icon-benefit">
            <use href="./images/symbol-defs.svg#icon-Frame-335"></use>
        </svg><div class="img-benefit overflow">
            <div class="blok-text"><p class="title-img black-text">Expert Career <br> Advancement</p>
            <p class="text-overflow">Refine your portfolio, sharpen your
                skills, and connect with like-minded professionals</p></div>
            <svg class="icon-benefit black-icon">
                <use href="./images/symbol-defs.svg#icon-Frame-335"></use>
            </svg>
        </div></li>
            <li class="img-benefit campaign-creators" >
            <p class="title-img">The right <br>fit for you</p>
            <svg class="icon-benefit">
                <use href="./images/symbol-defs.svg#icon-Icon"></use>
            </svg><div class="img-benefit overflow">
                <div class="blok-text"><p class="title-img black-text">The right <br>fit for you</p>
                <p class="text-overflow">From big brands to emerging start-ups. Meet the companies solving big problems</p></div>
                <svg class="icon-benefit black-icon">
                    <use href="./images/symbol-defs.svg#icon-Icon"></use>
                </svg>
            </div></li>
</ul>