<ul class="list-text-benefit container">
    <h2 class="title-benefit">How do you benefit?</h2>
    <li class="item-benefit"><p class="item-benefit-text">Clearly define your employment needs and skills</p></li>
    <li class="item-benefit"><p class="item-benefit-text">Search profiles and jobs of hand-picked exciting companies</p></li>
    <li class="item-benefit"><p class="item-benefit-text">Companies must connect with you before being able to contact you</p></li>
    <li class="item-benefit"><p class="item-benefit-text">Diversity and inclusion - companies can only asses you based on your skills and ability
</p></li>
</ul>
<ul class="list-images-benefit container">
    <h3 class="hidden">images-benefit</h3>
    <li class="img-benefit"><img src="./images/jpg/campaign-creators-gMsnXqILjp4-unsplash.jpg" alt="campaign-creators">
    <p class="title-img">The right <br>fit for you</p>
    <svg class="icon-benefit">
        <use href="./images/symbol-defs.svg#icon-Icon"></use>
    </svg></li>
    <li class="img-benefit"><img src="./images/jpg/handshake-close-up-of-executives.jpg" alt="handshake">
    <p class="title-img">Expert Career <br> Advancement</p>
    <svg class="icon-benefit">
        <use href="./images/symbol-defs.svg#icon-Frame-335"></use>
    </svg></li></li>
    <li class="img-benefit"><img src="./images/jpg/The-Right-Fit.jpg" alt="The-Right-Fit">
    <p class="title-img">Ground-breaking <br> companies</p>
    <svg class="icon-benefit">
        <use href="./images/symbol-defs.svg#icon-Frame-336"></use>
    </svg></li></li>
</ul>