<ul>
    <h2>How do you benefit?</h2>
    <li><p>Clearly define your employment needs and skills</p></li>
    <li><p>Search profiles and jobs of hand-picked exciting companies</p></li>
    <li><p>Companies must connect with you before being able to contact you</p></li>
    <li><p>Diversity and inclusion - companies can only asses you based on your skills and ability
</p></li>
</ul>
<ul>
    <h3 class="hidden">images-benefit</h3>
    <li class="img-benefit"><img src="./images/jpg/campaign-creators-gMsnXqILjp4-unsplash.jpg" alt="campaign-creators"></li>
    <li class="img-benefit"><img src="./images/jpg/handshake-close-up-of-executives.jpg" alt="handshake"></li>
    <li class="img-benefit"><img src="./images/jpg/The-Right-Fit.jpg" alt="The-Right-Fit"></li>
</ul>