<footer class="footer">
    <div >
        <a class="logo" href="#" aria-label="Логотип">
            <img class="icon-logo" src="./images/Logo.svg" />
        </a>
        <ul class="about">
            <h3 class=hidden>About</h3>
            <li class="about-item"><a href="#">Technology Professional</a></li>
            <li class="about-item"><a href="#">Employers</a></li>
            <li class="about-item"><a href="#">About</a></li>
            <li class="about-item"><a href="#">Privacy Policy</a></li>
            <li class="about-item"><a href="#">User Agreement</a></li>
            <li class="about-item"><a href="#">Copyright Policy</a></li>
            <li class="about-item"><a href="#">Terms of Business</a></li>
        </ul>
    </div>
    <div>
        <ul class="list-social"><h3 class="hidden">Social</h3>
        <li class="item-social"><svg class="icon-social">
            <use href="./images/sprite-social.svg#icon-facebook2"></use>
        </svg></li>
        <li class="item-social"><svg class="icon-social">
            <use href="./images/sprite-social.svg#icon-twitter"></use>
        </svg></li>
        <li class="item-social"><svg class="icon-social">
            <use href="./images/sprite-social.svg#icon-linkedin"></use>
        </svg></li>
        <li class="item-social"><svg class="icon-social">
            <use href="./images/sprite-social.svg#icon-instagram"></use>
        </svg></li></ul>

      <p class="copiright">© 2020 Lion Technologies 2.0.
    All Rights Reserved</p>  
    </div>
</footer>