<!-- Герой -->
<section class="hero container">
    <div class="section-hero">
            <h1 class="heading-hero">Top technologists want to help build
            the next tech giant</h1>
            <p class="text-hero">
                Define your skills and work preferences and have exciting, rapidly growing companies apply directly to you - no more
                cold approaches from recruitment agencies 🔥
            </p> 
            <button class="button-hero">SIGN UP</button>
        <img src="./images/jpg/Group 23.jpg"/>
    </div>
</section>