<ul>
    <h2>Our partners</h2>
    <li><svg><use href="./images/sprite.svg#icon-Page-1-1"></use></svg></li>
    <li><svg><use href="./images/sprite.svg#icon-symbol-1"></use></svg></li>
    <li><svg><use href="./images/sprite.svg#icon-Fill-1-1"></use>
</svg></li>
    <li><svg><use href="./images/sprite.svg#icon-Fast-loans-at-fair-rates-_-Lendable-0-1-1"></use></svg></li>
    <li><svg><use href="./images/sprite.svg#icon-Group-3"></use></svg></li>
    <li><svg><use href="./images/sprite.svg#icon-Group-4"></use></svg></li>
    <li><svg><use href="./images/sprite.svg#icon-Group-5"></use></svg></li>
    <li><svg><use href="./images/sprite.svg#icon-Group-6"></use></svg></li>
    <li><svg><use href="./images/sprite.svg#icon-logo-so-energy-blackde708a2-1-1"></use></svg></li>
    <li><svg><use href="./images/sprite.svg#icon-Page-1-1"></use></svg></li>
    <li><svg><use href="./images/sprite.svg#icon-symbol-1"></use></svg></li>
    <li><svg><use href="./images/sprite.svg#icon-Vector-1"></use></svg></li>
</ul>