<ul class="list-specializations container">
    <h2 class="title-specializations">Find jobs with various
    tech specialisations</h2>
    <li class="item-specializations"><button class="button-specialization">AR/VR</button></li>
    <li class="item-specializations"><button class="button-specialization">Backend Development</button></li>
    <li class="item-specializations"><button class="button-specialization">Cloud Computing</button></li>
    <li class="item-specializations"><button class="button-specialization">Computer Vision</button></li>
    <li class="item-specializations"><button class="button-specialization">Data Science</button></li>
    <li class="item-specializations"><button class="button-specialization">Database Engineering</button></li>
    <li class="item-specializations"><button class="button-specialization">Mobile Development</button></li>
    <li class="item-specializations"><button class="button-specialization">Digital Marketing</button></li>
    <li class="item-specializations"><button class="button-specialization">Frontend Development</button></li>
    <li class="item-specializations"><button class="button-specialization">Graphics Design</button></li>
    <li class="item-specializations"><button class="button-specialization">Game Development</button></li>
    <li class="item-specializations"><button class="button-specialization">Product Manager</button></li>
    <li class="item-specializations"><button class="button-specialization">Machine Learning</button></li>
    <li class="item-specializations"><button class="button-specialization">Quantum Computing</button></li>
    <li class="item-specializations"><button class="button-specialization">Software Engeneering</button></li>
    <li class="item-specializations"><button class="button-specialization">Blockchain</button></li>
    <li class="item-specializations"><button class="button-specialization">Management in Engineering</button></li>
    <li class="item-specializations"><button class="button-specialization">DevOps</button></li>
    <li class="item-specializations"><button class="button-specialization">Full Stack Development</button></li>
</ul>