<ul>
    <h2>Find jobs with various
    tech specialisations</h2>
    <li><button>AR/VR</button></li>
    <li><button>Backend Development</button></li>
    <li><button>Cloud Computing</button></li>
    <li><button>Computer Vision</button></li>
    <li><button>Data Science</button></li>
    <li><button>Database Engineering</button></li>
    <li><button>Mobile Development</button></li>
    <li><button>Digital Marketing</button></li>
    <li><button>Frontend Development</button></li>
    <li><button>Graphics Design</button></li>
    <li><button>Game Development</button></li>
    <li><button>Product Manager</button></li>
    <li><button>Machine Learning</button></li>
    <li><button>Quantum Computing</button></li>
    <li><button>Software Engeneering</button></li>
    <li><button>Blockchain</button></li>
    <li><button>Management in Engineering</button></li>
    <li><button>DevOps</button></li>
    <li><button>Full Stack Development</button></li>
</ul>