// ? text
.list-text-benefit {
  margin-bottom: 80px;
  list-style: disc;
  @media screen and (min-width: $viewport-desktop) {
    list-style: none;
    padding-top: 35px;
    padding-bottom: 90px;
  }
  & .title-benefit {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0px;
    @media screen and (min-width: $viewport-desktop) {
      margin-bottom: 64px;
      font-size: 56px;
    }
  }
  & .item-benefit {
    position: relative;
    margin-bottom: 16px;
    margin-left: 15px;
    list-style: disc;
    color: $marker;
    @media screen and (min-width: $viewport-desktop) {
      list-style: none;
    }
    & .item-benefit-text {
      position: relative;
      font-weight: 500;
      color: rgba(24, 25, 31, 1);
      @media screen and (min-width: $viewport-desktop) {
        margin-bottom: 40px;
      }
    }
  }
  & .item-benefit:last-child {
    margin-bottom: 0;
  }
}

// ? image
.list-images-benefit {
  margin-bottom: 80px;
  @media screen and (min-width: $viewport-desktop) {
    display: flex;
    margin-bottom: 200px;
  }
  & .overflow {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    & .black-text {
      color: black;
      margin-right: auto;
      margin-bottom: 24px;
    }
    & .black-icon {
      --color1: black;
      margin-left: auto;
      right: 0;
    }
    & .text-overflow {
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      text-align: left;
    }
  }
}
.right-fit {
  background: url("../images/jpg/The-Right-Fit.jpg");
}
.handshake {
  background: url("../images/jpg/handshake-close-up-of-executives.jpg");
}
.campaign-creators {
  background: url("../images/jpg/campaign-creators-gMsnXqILjp4-unsplash.jpg");
}
.img-benefit {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  padding: 24px;
  width: 343px;
  height: 321px;
  border-radius: 16px;
  transition: opacity 500ms linear;
  @media screen and (min-width: $viewport-desktop) {
    width: 480px;
    margin-bottom: 0;
    margin-right: 110px;
    padding: 32px;
  }
  &:last-child {
    margin-bottom: 0;
    @media screen and (min-width: $viewport-desktop) {
      margin-right: 0;
    }
  }
  &:hover,
  :focus-within {
    opacity: 1;
    border: 1px solid #665f5f;
  }

  & .title-img {
    bottom: 24px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    @media screen and (min-width: $viewport-desktop) {
      font-size: 32px;
    }
  }
  & .icon-benefit {
    bottom: 24px;
    width: 60px;
    height: 60px;
    fill: white;
  }
}

// ? line
@media screen and (min-width: $viewport-desktop) {
  .line {
    position: absolute;
    bottom: -16px;
    left: 1%;
    width: 70%;
    height: 40px;

    border-image-source: linear-gradient(
      90deg,
      #665f5f 79.76%,
      rgba(102, 95, 95, 0.3) 100%
    );
    border-image-slice: 1;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    transform: skew(-45deg);
    border-radius: 2px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: -20%;
      width: 20%;
      border-image-source: linear-gradient(
        90deg,
        rgba(102, 95, 95, 0.3),
        rgba(102, 95, 95, 0) 100%
      );
      border-image-slice: 1;
      border-bottom: 2px solid transparent;
    }
  }
}

@media screen and (min-width: $viewport-desktop) {
  .length-line-large {
    width: 65%;
  }
  .length-line-medium {
    width: 60%;
  }
  .length-line-small {
    width: 55%;
  }
}
