.blue-cub {
  display: none;
  @media screen and (min-width: $viewport-desktop) {
    display: block;
    position: absolute;
    width: 363px;
    height: 363px;
    background: linear-gradient(134.02deg, #1fabe3 1.13%, #36358c 77.67%);
    border-radius: 12px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
    transform: rotate(29.82deg);
    left: -3%;
    top: 58%;
  }
}
.fiole-cub {
  display: none;
  @media screen and (min-width: $viewport-desktop) {
    display: block;
    position: absolute;
    width: 245px;
    height: 245px;
    background: linear-gradient(135deg, #5659c5 1.15%, #420181 100.07%);
    border-radius: 12px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
    transform: rotate(146.26deg);
    right: -3%;
    top: 44%;
  }
}
.green-cub {
  display: none;
  @media screen and (min-width: $viewport-desktop) {
    display: block;
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(135deg, #109f52 1.15%, #373489 100.07%);
    border-radius: 12px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
    transform: rotate(145.62deg);
    left: -5%;
    top: 21%;
  }
}
.bordo-cub {
  display: none;
  @media screen and (min-width: $viewport-desktop) {
    display: block;
    position: absolute;
    width: 363px;
    height: 363px;
    background: linear-gradient(135deg, #bc547c 1.15%, #8b216a 100.07%);
    border-radius: 12px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
    transform: rotate(27.05deg);
    right: -8%;
    top: 66%;
  }
}
.laim-cub {
  display: none;
  @media screen and (min-width: $viewport-desktop) {
    display: block;
    position: absolute;
    width: 363px;
    height: 363px;
    background: linear-gradient(135deg, #bfcb20 1.15%, #09a64d 100.07%);
    border-radius: 12px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
    transform: rotate(27.05deg);
    right: -3%;
    top: 76%;
  }
}
.red-cub {
  display: none;
  @media screen and (min-width: $viewport-desktop) {
    display: block;
    position: absolute;
    width: 363px;
    height: 363px;
    background: linear-gradient(227.21deg, #93291e -68.17%, #ed213a 80.38%),
      linear-gradient(135deg, #f7af04 1.15%, #d05b0b 100.07%);
    border-radius: 12px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
    transform: rotate(29.82deg);
    left: -8%;
    top: 68%;
  }
}
