.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 40px;

  background: black;
  color: rgba(255, 255, 255, 1);
  & .container {
    width: 100%;
  }

  & .icon-logo {
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 114px;
    fill: rgba(255, 255, 255, 1);
  }

  & .list-social {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    & .item-social {
      margin-right: 20px;
    }
    & .item-social:last-child {
      margin-right: 0px;
    }
  }

  & .about {
    width: 343px;
    margin-bottom: 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
    @media screen and (min-width: $viewport-desktop) {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-bottom: 56px;
      margin-bottom: 40px;
    }
    & .about-item {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 17px;
      @media screen and (min-width: $viewport-desktop) {
        margin-bottom: 0;
        margin-right: 32px;
      }
    }
    & .about-item:hover,
    .about-item:focus-within {
      color: rgba(255, 255, 255, 0.3);
    }
    & .about-item:last-child {
      margin-bottom: 0px;
      @media screen and (min-width: $viewport-desktop) {
        margin-right: 0;
      }
    }
  }
}

.icon-social {
  width: 18px;
  height: 18px;
  fill: rgba(255, 255, 255, 0.3);
}
.icon-social:hover,
.icon-social:focus-within {
  fill: rgba(255, 255, 255, 1);
}

.copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 16.4px;
  letter-spacing: 0.25px;
  @media screen and (max-width: $pre-viewport-desktop) {
    width: 226px;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 1.25px;
  }
}

@media screen and (min-width: $viewport-desktop) {
  .space-between {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
